main {
    background-color: map-get($colores , terciario );
    .contenido {
        list-style: none;
        padding: 0;
    }
    ul { @include texto;
        line-height : 30px;
    }
    .foto {
        height: min-content;
    }
    .wp {
        width: 40px;
    }
    h3 {font-family: 'Source Sans Pro', sans-serif;}

    p {@include texto}
    
    .descripcion {
        @include texto;
        color: white;
    }
    .coti {
        text-align: center;
    }
    .form {width: 700px;}
}
