main {
    background-color: map-get($colores , terciario );
    h2 {
        font-family: 'Source Sans Pro', sans-serif;
    }
    .contenido {
        list-style: none;
        padding: 0;
    }
    ul { @include texto;
        line-height : 30px;
    }
    .foto {
        height: min-content;
    }
    .wp {
        width: 40px;
    }
    h3 {font-family: 'Source Sans Pro', sans-serif;}

    p {@include texto}
}