@media (min-width: 1200px) {
    .banner img {width: 100%;}
    li { font-size: 20px;}
    ul { line-height : 40px;}
    .coti { font-size: 24px;}
    header {height: 165px;}
    }


@media (min-width: 1400px) {
    .contenido { line-height : 50px;}
}

@media (max-width: 475px) {
    .logo {width: 100%}
}