@import "_variables.scss";

header { background-color: $colorTerciario;
    nav {
        .navbar1{
            list-style: none;
            margin: 0%;
            li {
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 20px;
                height: 100%;
                &:hover { border-bottom: $colorSecundario 2px solid;}
            }
        }
    }
}