$colores: (
    primario: #EBEEF2,
    secundario:#8C1B1B,
    terciario:#F2F2F0,
);

@mixin texto {
    font-size: 16px;
    color: #2c2c2c;
    font-family: 'Mukta', sans-serif;
}

.titulos {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

.titulos--cotizaciones {
    @extend .titulos;
    text-align: start;
}