$colores: (
    primario: #EBEEF2,
    secundario:#8C1B1B,
    terciario:#F2F2F0,
);

@mixin texto {
    color: black;
    font-family: 'Mukta', sans-serif;
}

.titulos {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

.titulos--cotizaciones {
    @extend .titulos;
}